body {
    background-image: url("/images/GameLobbyBackground.png");
}

.rectangle {
    width: 5vw;
    height: 8vh;
    position: relative;
    background: #999999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 95px;
    border: 0.50px black solid;
    display: flex;
    justify-content: center;
    top: 8vh;
    margin: auto;
}

.activeSlot {
    width: 100%;
    background: #A0D2FF;
    
}

.container {
    max-width: 100%;
}

.visible {
    visibility: show;
}

.spieler {
    height: 10vh;
}

.cardcontainer {
    height: 16vh;
    width: 80%;
    left: 10%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
}

.image-row img {
    width: auto;
    max-height: 100%;
    height: auto; /* Setze hier die gewünschte Höhe */
    object-fit: cover;
    margin-right: -27%; /* Setze hier den gewünschten Abstand zwischen den Bildern */
    visibility: hidden;
    overflow-clip-margin: unset;
    overflow: auto;
}

.image-row .visible {
    animation-name: cardflying;
    animation-duration: 10s;
}

@keyframes cardflying {
    0% {
        top: 50%;
        left: 50%;
        position: fixed;
        height: 100px;
        content: url("/images/kartenruecken.png");
    }
    99% {
        top: auto;
        left: auto;
        position: relative;
        height: 100px;
        content: url("/images/kartenruecken.png");
    }
}

.image-row::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    z-index: 1;
}

.myPlayer .cardcontainer {
    height: 18vh;
}

.myPlayer .image-row img {
    margin-right: -30%;
}

.myPlayer .rectangle {
    background: #66ffff;
    height: 10vh;
    top: 10vh;
}

.myPlayer h4 {
    font-size: 35px;
}

.onTurn {
    -webkit-box-shadow: 0 0 20px blue;
    -moz-box-shadow: 0 0 20px blue;
    box-shadow: 0 0 20px blue;
}


.winnerScreen {
    margin: auto;
    z-index: 1;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 75px;
    color: white;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    bottom: 50%;
    display: block;
    justify-content: center;
    position: fixed;
    text-transform: uppercase;
    font-family: "Brush Script MT";
    align-items: center;
}

.resultHeadline {
    margin: auto;
    z-index: 1;
    text-align: center;
    font-size: 95px;
    color: white;
    left: 0;
    bottom: 50%;
    text-transform: uppercase;
    font-family: "Brush Script MT";
}

.resultAmount {
    margin: auto;
    z-index: 1;
    text-align: center;
    font-size: 65px;
    color: white;
    left: 0;
    /*bottom: 50%;*/
    text-transform: uppercase;
    font-family: "Brush Script MT";
}

.pokerchips {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw; /* Extend from the left side to the right side of the screen */
    visibility: hidden;
}

.buttons {
    visibility: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw; /* Extend from the left side to the right side of the screen */
}

#buttons button {
    margin: 1em;
    padding: 1em;
    width: 10%;
    font-size: 30px;
}

.pokerchips img {
    cursor: pointer;
    display: inline-block;
    width: 160px;
    height: auto;
    margin: 10px;
}


.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

/* +*/
/* +*/



