@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    background-image: url("/images/GameLobbyBackground.png");
    font-family: montserrat, arial, verdana;
}

.moneyIcon::before {
    height: 1em;
    width: 1em !important;
    content: '\f4d3';
    font: var(--fa-font-solid);
    font-weight: 600;
    font-size: 3em;
    text-align: center;
    display: flex;
    color: white;
}

.filler {
    visibility: hidden;
}

.moneyCodeWhite {
    color:white;
}

.greetingmsg {
    color: white;
    text-align: center;
    font-weight: 600;
}

.displayOwnUsername {
    color: white;
    text-align: center;
}

.dealer {
    background-image: url("/images/icons/dealer.png") !important;
    background-size: cover;
}

.rectangle {
    width: 5vw;
    height: 5vw;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 25em;
    border: 0.2em #00de6b solid;
    display: flex;
    justify-content: center;
    top: 2vh;
    margin: auto;
    opacity: 0.6;
    background: black;
    background-image: url("/images/icons/plus.png");
    background-size: cover;
}

.myPlayer .rectangle {
    width: 6.5vw;
    height: 6.5vw;
}

.table {
    width: 74em;
    height: 33em;
    margin: 0;
    margin-top: 10em;
    position: absolute;
    left: 19.167%;
    border-radius: 20em;
    border: 1em #341401 solid;
    background-image: url("https://t3.ftcdn.net/jpg/00/97/46/36/360_F_97463619_ZHqQiR70xv5HRiTJlkfyetkzxrmezDtP.jpg");
    background-size: cover;
}

.startbtn {
    width: 11em;
    height: 3.1em;
    background: #0c6f3c;
    border: 0.2em #00de6b solid;
    border-radius: 15em;
    cursor:pointer;
}

.hitbtn {
    width: 5em;
    height: 3.1em;
    background: #0c6f3c;
    border: 0.2em #00de6b solid;
    border-radius: 15em;
    color: white;
    font-weight: 600;
    margin-right: 1em;
    cursor:pointer;
}

.standbtn {
    width: 5em;
    height: 3.1em;
    background: #0c6f3c;
    border: 0.2em #00de6b solid;
    border-radius: 15em;
    color: white;
    font-weight: 600;
    margin-left: 1em;
    cursor: pointer;
}

.startbtnIcon::before {
    height: 1em;
    width: 1em !important;
    font: var(--fa-font-solid);
    font-weight: 600;
    font-size: 2.6em;
    text-align: center;
    display: flex;
    color: white;
}

.startbtn .col-md-auto {
    padding-left: 0.65em;
    padding-right: 0;
    padding-top: 0.01em;
}

.startbtn .col {
    padding-left: 0em;
}

.resetbutton .col-md-auto {
    padding-left: 0.95em;
    padding-right: 0;
    padding-top: 0.1em;
}

.resetbutton .col {
    padding-left: 0em;
}

#startbuttons .buttons {
  background: black;
}

.starttext {
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    color: #f6f6f6
}

.resetbutton {
    width: 11em;
    height: 3.1em;
    background: #0c6f3c;
    border: 0.2em #00de6b solid;
    border-radius: 15em;
    cursor: pointer;
}

.activeSlot {
    opacity: 1;
    background-image: url("/images/icons/nutzer.png");
}

.container {
    max-width: 100%;
    margin-top: 1em;
}

.visible {
    visibility: show;
}

.spieler {
    height: 12vh;
    width: 33.5em;
}

.cardcontainer {
    height: 16vh;
    width: 80%;
    left: -10%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
}

.image-row img {
    width: auto;
    max-height: 100%;
    height: auto; /* Setze hier die gewünschte Höhe */
    object-fit: cover;
    margin-right: -27%; /* Setze hier den gewünschten Abstand zwischen den Bildern */
    visibility: hidden;
    overflow-clip-margin: unset;
    overflow: auto;
}

#player2_cards {
    left: 45%;
    top: -70%;
}


#player6_cards {
    left: 5%;
    top: -70%;
}

#player3_cards {
    left: 13%;
    top: -60%;
}

#player5_cards {
    left: 41%;
    top: -60%;
}

#dealer_cards,
#player1_cards,
#player4_cards,
#player7_cards {
    left: 27%;
    top: -60%;
}

.image-row .visible {
    animation-name: cardflying;
    animation-duration: 1.5s;
}

@keyframes cardflying {
    0% {
        top: 45%;
        left: 48%;
        position: fixed;
        height: 8em;
        content: url("/images/kartenruecken.png");
    }

    99% {
        top: auto;
        left: 48%;
        position: relative;
        height: 8em;
        content: url("/images/kartenruecken.png");
    }
}

.image-row::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    z-index: 1;
}

.myPlayer .cardcontainer {
    height: 18vh;
}

.myPlayer .image-row img {
    margin-right: -30%;
}

.myPlayer .labelcontainer h4 {
    margin-top: 4em !important;
}

.myPlayer .labelcontainer h5 {
    margin-top: 7em;
}

.labelcontainer {
    width: auto;
    min-width: 5.5em;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.labelcontainer h5 {
    background: #0c5a6f;
    width: auto;
    height: 1.25em;
    padding: 0 0.4em 1.3em 0.5em;
    border: 0.1em #00b5de solid;
    border-radius: 10em;
    font-size: 1.1em;
    font-family: montserrat;
    color: white;
    position: absolute;
    margin-top: 5em;
}

.labelcontainer h4 {
    background: #0c6f3c;
    width: auto;
    padding: 0 0.4em 1.3em 0.4em;
    height: 1.25em;
    margin-top: 2.5em !important;
    margin-bottom: 0 !important;
    position: absolute;
    border: 0.1em #00de6b solid;
    border-radius: 10em;
    font-size: 1.5em;
    color: white;
    font-family: montserrat;
    display: flex;
}

.onTurn {
    border: 0.2em #a100c1 solid;
    -webkit-box-shadow: 0 0 20px blue;
    -moz-box-shadow: 0 0 20px blue;
    box-shadow: 0 0 20px blue;
}

.winnerScreen {
    margin: auto;
    z-index: 1;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 75px;
    color: white;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    bottom: 50%;
    display: block;
    justify-content: center;
    position: fixed;
    text-transform: uppercase;
    font-family: "Brush Script MT";
    align-items: center;
}

.resultHeadline {
    margin: auto;
    z-index: 1;
    text-align: center;
    font-size: 95px;
    color: white;
    left: 0;
    bottom: 50%;
    text-transform: uppercase;
    font-family: "Brush Script MT";
}

.resultAmount {
    margin: auto;
    z-index: 1;
    text-align: center;
    font-size: 65px;
    color: white;
    left: 0;
    /*bottom: 50%;*/
    text-transform: uppercase;
    font-family: "Brush Script MT";
}

.pokerchips {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw; /* Extend from the left side to the right side of the screen */
    visibility: hidden;
}

.buttons {
    visibility: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    
    width: 100vw; /* Extend from the left side to the right side of the screen */
}

#buttons button {
    margin: 1em;
    padding: 1em;
    width: 10%;
    font-size: 30px;
}

.pokerchips img {
    cursor: pointer;
    display: inline-block;
    width: 160px;
    height: auto;
    margin: 10px;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.menuBtn {
    visibility: visible;
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    background: #0c6f3c;
    border: 0.2em #00de6b solid;
    border-radius: 1.5em;
    color: white;
    margin: 1em;
    width: 2.5em;
    height: 2.5em;
    font-size: 1.25em;
    cursor: pointer;
}

.menuBtn:hover {
    background-color: forestgreen;
}

.slidePopup {
    position: absolute;
    top: -100%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.invisible {
    visibility: hidden;
}

.overlay {
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.settings {
    position: absolute;
    top: -100%;
    left: -93.7%;
    bottom: 64.1%;
    right: 0%;
    margin: auto;
    width: 80px;
    height: 18em;
    background: #42424299;
    border: 0.2em #5f5f5fcc solid;
    border-radius: 2em;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.menubtnIcons::before {
    height: 1.5em;
    width: 1.5em !important;
    font: var(--fa-font-solid);
    font-weight: 600;
    font-size: 1.75em;
    text-align: center;
    display: flex;
    color: white;
    margin-top: 0.19em;
    margin-left: 0.06em;
}

.rulebtnIcons::before {
    height: 1.5em;
    width: 1.5em !important;
    font: var(--fa-font-solid);
    font-weight: 600;
    font-size: 1.75em;
    text-align: center;
    display: flex;
    color: white;
    margin-top: 0.14em;
    margin-left: 0.35em;
}

.resumeBtn {
    background: #0c6f3c;
    color: white;
    border: 0.2em #00de6b solid;
    border-radius: 2em;
    width: 3em;
    height: 3em;
    margin-left: 0.35em;
    margin-top: 0.55em;
    font-size: 1.25em;
    cursor: pointer;
}

.resumeBtn:hover {
    background-color: forestgreen;
}

.ruleBtn {
    background: #0c6f3c;
    color: white;
    border: 0.2em #00de6b solid;
    border-radius: 2em;
    width: 3em;
    height: 3em;
    margin-left: 0.35em;
    margin-top: 0.35em;
    font-size: 20px;
    cursor: pointer;
}

.ruleBtn:hover {
    background-color: forestgreen;
}

.exitPromptBtn {
    background: #0c6f3c;
    color: white;
    border: 0.2em #00de6b solid;
    border-radius: 2em;
    width: 3em;
    height: 3em;
    margin-left: 0.35em;
    margin-top: 0.35em;
    font-size: 20px;
    cursor: pointer;
}

.exitPromptBtn:hover {
    background-color: forestgreen;
}
.refreshButton:hover {
    background-color: forestgreen;
}
.refreshBtn {
    background: #0c6f3c;
    color: white;
    border: 0.2em #00de6b solid;
    border-radius: 2em;
    width: 3em;
    height: 3em;
    margin-left: 0.35em;
    margin-top: 0.35em;
    font-size: 20px;
    cursor: pointer;
}

.rulePopup {
    background-color: #ffffff;
    max-width: 1020px;
    height: 90vh;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
    overflow-y: auto;
}

.rulePopup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: #03549a;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.rulePopup h2 {
    margin-top: -20px;
}

.rulePopup p {
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
        line-height: 25px;
    }

.box-background {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 350px;
    height: 100px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.box div {
    margin-top: 10px;
}

.btn {
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}

.red {
    background: red;
}

.green {
    background: green;
}

.menuicons {
    width: 100%;
    height: auto;
}

.angabeKartenwert {
    color: white;
}

.wetteinsatz {
    color: green;
    font: bold;
}

*, :after, :before {
    box-sizing: border-box
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

.clock:before,
.count:after {
    content: '';
    position: absolute;
}

.clock-wrap {
    margin: auto;
    width: 11em;
    height: 11em;
    margin-top: 10em;
    position: relative;
    border-radius: 50px;
}

.clock {
    top: 50%;
    left: 50%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    margin-top: -90px;
    margin-left: -90px;
}

.clock:before {
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;
    border-radius: inherit;
    background-color: rgb(0, 0, 0, 0,74);
    box-shadow: 0 0 15px rgba(0,0,0,.15), 0 0 3px rgba(255,255,255,.75) inset;
}

.count {
    width: 100%;
    color: #fff;
    height: 100%;
    padding: 2em;
    font-size: 2em;
    font-weight: 600;
    line-height: 50px;
    position: absolute;
    text-align: center;
}

.count:after {
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    position: relative;
}

.count.sec:after {
    content: 'sec'
}

.count.min:after {
    content: 'min'
}

.tbl {
    display: table;
    width: 100%
}

.tbl .col {
    display: table-cell
}