body {
    background-image: url('/Images/GameLobbyBackground.png');
}

p.a {
    text-align: left;
}

p.b {
    text-align: right;
}

.displayContainer {
    position: relative;
    color: white;
    height: 100px;
}

.displayUsername {
    position: absolute;
    top: 0;
    left: 0;
}

.displayMoney {
    position: absolute;
    top: 0;
    right: 0;
}

.divFenster {
    text-align: center;
    color: white;
    align-content: center;
    align-items: center;
}

.divBox {
    text-align: center;
    width: 300px;
    height: 190px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 1.0);
    margin: 0 auto;
}

.code-container {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

input.code {
    width: 2em;
    border: 1px solid black;
    text-align: center;
}