@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    font-family: montserrat, arial, verdana;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: relative;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
}

#Registrieren {
    width: 10em;
    height: 2.5em;
    font-size: 2em;
    font-weight: 600;
    font-family: montserrat;
    padding-top: 0.5em;
    margin: auto auto;
    margin-top: 0.5em;
    border: 0.1em solid #00de6b;
    border-radius: 2em;
    background: #0c6f3ccc;
    cursor: pointer;
    flex-direction: column;
    margin-top: 0.5em;
    align-items: center;
}

#Anmelden {
    width: 10em;
    height: 2.5em;
    font-size: 2em;
    font-weight: 600;
    font-family: montserrat;
    padding-top: 0.5em;
    margin: 0 auto;
    margin-top: 10em;
    border: 0.1em solid #00de6b;
    border-radius: 2em;
    background: #0c6f3ccc;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
}



#Logo {
    width: 10em;
    font-size: 2em;

    padding-block: 30px;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}   

#Registrieren:hover {
    background: #ddd;
    color: black;
}

#Anmelden:hover {
    background: #ddd;
    color: black;
}
