body {
    text-align: center;
    color: white;
    background-image: url("/images/dark-green-abstract-paper-texture-background.jpg");
}


.buttonsStartseite button {
    margin-top: 3%;
    min-width: 15%;
}


.titleImage {
    width: 80%; /* Adjust the width as desired */
    height: 50%; /* Maintain the aspect ratio */
}
