@page
@using Microsoft.JSInterop;
@model BlackJack.Pages.GameModel


@{

    ViewData["Title"] = "BlackJack";
    Layout = "_LayoutGame";


    string user = "Manfred";
    int money = 1000;

    //int totalAmount = Game.GetTotalAmount();
}



<head>
    <style>
        body {
            background-image: url("/images/GameLobbyBackground.png");
        }
    </style>
</head>
<body>
<div class="displayOwnContainer">
    <h1 class="displayOwnUsername" id="username">Viel Erfolg @user !</h1>
    <button id="startButton">Spiel starten</button>
    <h1 class="displayOwnMoney" id="money">Guthaben: @money €</h1>
    <br />
    <button id="hitButton">Hit</button>
    <button id="standButton">Stand</button>
    <br />
    <button id="endTurn">Zug beenden</button>
    
</div>



<div class="TableContainer">
    <div class="BlackJackTable">
        <div class="Group9">
            <div class="Ellipse2"></div>
            <div class="Rectangle1"></div>
            <div class="Ellipse1"></div>
        </div>

            <div id="Spieler7" class="Spieler">
                <div class="Karten">
                    <img id="Spieler7-Card-1" class="card" />
                    <img id="Spieler7-Card-2" class="card" />
                    <img id="Spieler7-Card-3" class="card" />
                    <img id="Spieler7-Card-4" class="card" />
                    <img id="Spieler7-Card-5" class="card" />
                    <img id="Spieler7-Card-6" class="card" />
                    <img id="Spieler7-Card-7" class="card" />
                    <img id="Spieler7-Card-8" class="card" />
                    <img id="Spieler7-Card-9" class="card" />
                    <img id="Spieler7-Card-10" class="card" />
                    <img id="Spieler7-Card-11" class="card" />
                </div>
                <div class="Rectangle"></div>
                <div id="Spieler7-name" class="name">Spieler7</div>
            </div>

            <div id="Spieler6" class="Spieler">
                <div class="Karten">
                    <img id="Spieler6-Card-1" class="card" />
                    <img id="Spieler6-Card-2" class="card" />
                    <img id="Spieler6-Card-3" class="card" />
                    <img id="Spieler6-Card-4" class="card" />
                    <img id="Spieler6-Card-5" class="card" />
                    <img id="Spieler6-Card-6" class="card" />
                    <img id="Spieler6-Card-7" class="card" />
                    <img id="Spieler6-Card-8" class="card" />
                    <img id="Spieler6-Card-9" class="card" />
                    <img id="Spieler6-Card-10" class="card" />
                    <img id="Spieler6-Card-11" class="card" />
                </div>
                <div class="Rectangle"></div>
                <div id="Spieler6-name" class="name">Spieler6</div>
            </div>

            <div id="Spieler5" class="Spieler">
                <div class="Karten">
                    <img id="Spieler5-Card-1" class="card" />
                    <img id="Spieler5-Card-2" class="card" />
                    <img id="Spieler5-Card-3" class="card" />
                    <img id="Spieler5-Card-4" class="card" />
                    <img id="Spieler5-Card-5" class="card" />
                    <img id="Spieler5-Card-6" class="card" />
                    <img id="Spieler5-Card-7" class="card" />
                    <img id="Spieler5-Card-8" class="card" />
                    <img id="Spieler5-Card-9" class="card" />
                    <img id="Spieler5-Card-10" class="card" />
                    <img id="Spieler5-Card-11" class="card" />
                </div>
                <div class="Rectangle"></div>
                <div id="Spieler5-name" class="name">Spieler5</div>
            </div>

            <div id="Spieler4" class="Spieler">
                <div class="Karten">
                    <img id="Spieler4-Card-1" class="card" />
                    <img id="Spieler4-Card-2" class="card" />
                    <img id="Spieler4-Card-3" class="card" />
                    <img id="Spieler4-Card-4" class="card" />
                    <img id="Spieler4-Card-5" class="card" />
                    <img id="Spieler4-Card-6" class="card" />
                    <img id="Spieler4-Card-7" class="card" />
                    <img id="Spieler4-Card-8" class="card" />
                    <img id="Spieler4-Card-9" class="card" />
                    <img id="Spieler4-Card-10" class="card" />
                    <img id="Spieler4-Card-11" class="card" />
                </div>
                <div class="Rectangle"></div>
                <div id="Spieler4-name" class="name">Spieler4</div>
            </div>

            <div id="Spieler3" class="Spieler">
                <div class="Karten">
                    <img id="Spieler3-Card-1" class="card" />
                    <img id="Spieler3-Card-2" class="card" />
                    <img id="Spieler3-Card-3" class="card" />
                    <img id="Spieler3-Card-4" class="card" />
                    <img id="Spieler3-Card-5" class="card" />
                    <img id="Spieler3-Card-6" class="card" />
                    <img id="Spieler3-Card-7" class="card" />
                    <img id="Spieler3-Card-8" class="card" />
                    <img id="Spieler3-Card-9" class="card" />
                    <img id="Spieler3-Card-10" class="card" />
                    <img id="Spieler3-Card-11" class="card" />
                </div>
                <div class="Rectangle"></div>
                <div id="Spieler3-name" class="name">Spieler3</div>
            </div>

            <div id="Spieler2" class="Spieler">
                <div class="Karten">
                    <img id="Spieler2-Card-1" class="card" />
                    <img id="Spieler2-Card-2" class="card" />
                    <img id="Spieler2-Card-3" class="card" />
                    <img id="Spieler2-Card-4" class="card" />
                    <img id="Spieler2-Card-5" class="card" />
                    <img id="Spieler2-Card-6" class="card" />
                    <img id="Spieler2-Card-7" class="card" />
                    <img id="Spieler2-Card-8" class="card" />
                    <img id="Spieler2-Card-9" class="card" />
                    <img id="Spieler2-Card-10" class="card" />
                    <img id="Spieler2-Card-11" class="card" />
                </div>
                <div class="Rectangle"></div>
                <div id="Spieler2-name" class="name">Spieler2</div>
            </div>

            <div id="Spieler1" class="Spieler">
                <div class="Karten">
                    <img id="Spieler1-Card-1" class="card" />
                    <img id="Spieler1-Card-2" class="card" />
                    <img id="Spieler1-Card-3" class="card" />
                    <img id="Spieler1-Card-4" class="card" />
                    <img id="Spieler1-Card-5" class="card" />
                    <img id="Spieler1-Card-6" class="card" />
                    <img id="Spieler1-Card-7" class="card" />
                    <img id="Spieler1-Card-8" class="card" />
                    <img id="Spieler1-Card-9" class="card" />
                    <img id="Spieler1-Card-10" class="card" />
                    <img id="Spieler1-Card-11" class="card" />
                </div>
                <div class="Rectangle"></div>
                <div id="Spieler1-name" class="name">Spieler1</div>
            </div>
            <div class="Dealer">
                <div id="Dealer" class="Karten">
                    <img id="Dealer-card-1" class="card" />
                    <img id="Dealer-Card-1" class="card" />
                    <img id="Dealer-Card-2" class="card" />
                    <img id="Dealer-Card-3" class="card" />
                    <img id="Dealer-Card-4" class="card" />
                    <img id="Dealer-Card-5" class="card" />
                    <img id="Dealer-Card-6" class="card" />
                    <img id="Dealer-Card-7" class="card" />
                    <img id="Dealer-Card-8" class="card" />
                    <img id="Dealer-Card-9" class="card" />
                    <img id="Dealer-Card-10" class="card" />
                    <img id="Dealer-Card-11" class="card" />
                </div>
                <div id="Dealer" class="Rectangle3"></div>
                <div id="Dealer" class="TextDealer">Dealer</div>
            </div>
        </div>
    </div>

<div class="winnerScreen" id="resultScreen">
    <h1 class="resultHeadline" id="resultHeadline"></h1>
    <h2 class="resultAmount" id="resultAmount"></h2>
</div>
<div class="pokerchips" id="chipsDiv">
    <img src="/images/pokerchips/Pokerchip1.png" onclick="setBet(1)" />
    <img src="/images/pokerchips/Pokerchip5.png" onclick="setBet(5)" />
    <img src="/images/pokerchips/Pokerchip10.png" onclick="setBet(10)" />
    <img src="/images/pokerchips/Pokerchip20.png" onclick="setBet(20)" />
    <img src="/images/pokerchips/Pokerchip25.png" onclick="setBet(25)" />
</div>



    <p>Total: <span id="totalAmount">0</span></p>



<script src="/js/game.js"></script>
</body>
