@page
@using Microsoft.JSInterop;
@model BlackJack.Pages.GameModel


@{

    ViewData["Title"] = "BlackJack";
    Layout = "_LayoutGame";


    string user = "Manfred";
    //int money = 1000;

    //int totalAmount = Game.GetTotalAmount();

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />
<div class="container">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-md-auto">
			<i class="moneyIcon filler"></i>
		</div>
		<div class="col-2"></div>
		<div class="col-3">
			<h1 class="greetingmsg">Viel Erfolg</h1>
		</div>
		<div class="col-2"></div>
		<div class="col-md-auto">
			<i class="fa-solid fa-terminal moneyIcon"></i>
		</div>
		<div class="col-2">
			<h1 class="moneyCodeWhite" id="code">XXXX</h1>
		</div>

	</div>
	<div class="row">

		<div class="col-2"></div>
		<div class="col-md-auto">
			<i class="moneyIcon filler"></i>
		</div>
		<div class="col-2"></div>
		<div class="col-3">
			<h1 class="displayOwnUsername" id="username">@user</h1>
		</div>
		<div class="col-2"></div>
		<div class="col-md-auto">
			<i class="fa-thin fa-circle-euro moneyIcon"></i>
		</div>
		<div class="col-2">
			<h1 class="moneyCodeWhite" id="money"></h1>
		</div>
	</div>

	<div class="table">
		<div class="clock-wrap" id="clock_vis">
			<div class="clock pro-0">
				<span class="count">0</span>
			</div>
		</div>
	</div>
	<div class="row m-5 p-5 ">
		<div class="col-1"></div>
		<div class="col-3 mt-3">
			<div id="Spieler7-container" class="spieler">
				<div class="cardcontainer" id="player7_cards">
					<div class="image-row">
						<img id="Spieler7-Card1" src="images/card/ace_of_clubs.png" alt="Card 1" >
						<img id="Spieler7-Card2" src="images/card/2_of_clubs.png" alt="Card 2">
						<img id="Spieler7-Card3" src="images/card/3_of_clubs.png" alt="Card 3">
						<img id="Spieler7-Card4" src="images/card/4_of_clubs.png" alt="Card 4">
						<img id="Spieler7-Card5" src="images/card/5_of_clubs.png" alt="Card 5">
						<img id="Spieler7-Card6" src="images/card/6_of_clubs.png" alt="Card 6">
						<img id="Spieler7-Card7" src="images/card/7_of_clubs.png" alt="Card 7">
						<img id="Spieler7-Card8" src="images/card/8_of_clubs.png" alt="Card 8">
						<img id="Spieler7-Card9" src="images/card/9_of_clubs.png" alt="Card 9">
						<img id="Spieler7-Card10" src="images/card/10_of_clubs.png" alt="Card 10">
						<img id="Spieler7-Card11" src="images/card/king_of_clubs.png" alt="Card 11">
					</div>
				</div>
				<div id="Spieler7" class="rectangle">
					<div class="labelcontainer">
						<h4 id="Spieler7-name" class="name m-auto invisible">...</h4>
						<h5 id="totalAmountPlayer7" class="invisible">...</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 mt-2">
			<div class="spieler">
				<div class="cardcontainer" id="dealer_cards">
					<div class="image-row">
						<img id="Dealer-Card1" src="images/card/ace_of_clubs.png" alt="Card 1" >
						<img id="Dealer-Card2" src="images/card/2_of_clubs.png" alt="Card 2">
						<img id="Dealer-Card3" src="images/card/3_of_clubs.png" alt="Card 3">
						<img id="Dealer-Card4" src="images/card/4_of_clubs.png" alt="Card 4">
						<img id="Dealer-Card5" src="images/card/5_of_clubs.png" alt="Card 5">
						<img id="Dealer-Card6" src="images/card/6_of_clubs.png" alt="Card 6">
						<img id="Dealer-Card7" src="images/card/7_of_clubs.png" alt="Card 7">
						<img id="Dealer-Card8" src="images/card/8_of_clubs.png" alt="Card 8">
						<img id="Dealer-Card9" src="images/card/9_of_clubs.png" alt="Card 9">
						<img id="Dealer-Card10" src="images/card/10_of_clubs.png" alt="Card 10">
						<img id="Dealer-Card11" src="images/card/king_of_clubs.png" alt="Card 11">
					</div>
				</div>
				<div id="Dealer" class="rectangle activeSlot dealer">
					<div class="labelcontainer">
						<h4 class="m-auto">Dealer</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 mt-3">
			<div id="Spieler1-container" class="spieler">
				<div class="cardcontainer" id="player1_cards">
					<div class="image-row">
						<img id="Spieler1-Card1" src="images/card/ace_of_clubs.png" alt="Card 1">
						<img id="Spieler1-Card2" src="images/card/2_of_clubs.png" alt="Card 2">
						<img id="Spieler1-Card3" src="images/card/3_of_clubs.png" alt="Card 3" >
						<img id="Spieler1-Card4" src="images/card/4_of_clubs.png" alt="Card 4" >
						<img id="Spieler1-Card5" src="images/card/5_of_clubs.png" alt="Card 5">
						<img id="Spieler1-Card6" src="images/card/6_of_clubs.png" alt="Card 6" >
						<img id="Spieler1-Card7" src="images/card/7_of_clubs.png" alt="Card 7">
						<img id="Spieler1-Card8" src="images/card/8_of_clubs.png" alt="Card 8">
						<img id="Spieler1-Card9" src="images/card/9_of_clubs.png" alt="Card 9">
						<img id="Spieler1-Card10" src="images/card/10_of_clubs.png" alt="Card 10">
						<img id="Spieler1-Card11" src="images/card/king_of_clubs.png" alt="Card 11">
					</div>
				</div>

				<div id="Spieler1"  class="rectangle">
					<div class="labelcontainer">
						<h4 id="Spieler1-name" class="name m-auto invisible">...</h4>
						<h5 id="totalAmountPlayer1" class="invisible">...</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="col-1"></div>
	</div>
	<div class="row m-5 p-2">
		<div class="col-3">
			<div id="Spieler6-container"  class="spieler">
				<div class="cardcontainer" id="player6_cards">
					<div class="image-row">
						<img id="Spieler6-Card1" src="images/card/ace_of_clubs.png" alt="Card 1">
						<img id="Spieler6-Card2" src="images/card/2_of_clubs.png" alt="Card 2">
						<img id="Spieler6-Card3" src="images/card/3_of_clubs.png" alt="Card 3">
						<img id="Spieler6-Card4" src="images/card/4_of_clubs.png" alt="Card 4">
						<img id="Spieler6-Card5" src="images/card/5_of_clubs.png" alt="Card 5">
						<img id="Spieler6-Card6" src="images/card/6_of_clubs.png" alt="Card 6">
						<img id="Spieler6-Card7" src="images/card/7_of_clubs.png" alt="Card 7">
						<img id="Spieler6-Card8" src="images/card/8_of_clubs.png" alt="Card 8">
						<img id="Spieler6-Card9" src="images/card/9_of_clubs.png" alt="Card 9">
						<img id="Spieler6-Card10" src="images/card/10_of_clubs.png" alt="Card 10">
						<img id="Spieler6-Card11" src="images/card/king_of_clubs.png" alt="Card 11">
					</div>
				</div>

				<div id="Spieler6" class="rectangle">
					<div class="labelcontainer">
						<h4 id="Spieler6-name" class="name m-auto invisible">...</h4>
						<h5 id="totalAmountPlayer6" class="invisible">...</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="col-5"></div>
		<div class="col-3">
			<div id="Spieler2-container" class="spieler">
				<div class="cardcontainer" id="player2_cards">
					<div class="image-row">
						<img id="Spieler2-Card1" src="images/card/ace_of_clubs.png" alt="Card 1">
						<img id="Spieler2-Card2" src="images/card/2_of_clubs.png" alt="Card 2">
						<img id="Spieler2-Card3" src="images/card/3_of_clubs.png" alt="Card 3">
						<img id="Spieler2-Card4" src="images/card/4_of_clubs.png" alt="Card 4">
						<img id="Spieler2-Card5" src="images/card/5_of_clubs.png" alt="Card 5">
						<img id="Spieler2-Card6" src="images/card/6_of_clubs.png" alt="Card 6">
						<img id="Spieler2-Card7" src="images/card/7_of_clubs.png" alt="Card 7">
						<img id="Spieler2-Card8" src="images/card/8_of_clubs.png" alt="Card 8">
						<img id="Spieler2-Card9" src="images/card/9_of_clubs.png" alt="Card 9">
						<img id="Spieler2-Card10" src="images/card/10_of_clubs.png" alt="Card 10">
						<img id="Spieler2-Card11" src="images/card/king_of_clubs.png" alt="Card 11">
					</div>
				</div>

				<div id="Spieler2" class="rectangle">
					<div class="labelcontainer">
						<h4 id="Spieler2-name" class="name m-auto invisible">...</h4>
						<h5 id="totalAmountPlayer2" class="invisible">...</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row m-5 p-5">
		<div class="col-1"></div>
		<div class="col-3">
			<div id="Spieler5-container"  class="spieler">
				<div class="cardcontainer" id="player5_cards">
					<div class="image-row">
						<img id="Spieler5-Card1" src="images/card/ace_of_clubs.png" alt="Card 1" >
						<img id="Spieler5-Card2" src="images/card/2_of_clubs.png" alt="Card 2">
						<img id="Spieler5-Card3" src="images/card/3_of_clubs.png" alt="Card 3">
						<img id="Spieler5-Card4" src="images/card/4_of_clubs.png" alt="Card 4">
						<img id="Spieler5-Card5" src="images/card/5_of_clubs.png" alt="Card 5">
						<img id="Spieler5-Card6" src="images/card/6_of_clubs.png" alt="Card 6">
						<img id="Spieler5-Card7" src="images/card/7_of_clubs.png" alt="Card 7">
						<img id="Spieler5-Card8" src="images/card/8_of_clubs.png" alt="Card 8">
						<img id="Spieler5-Card9" src="images/card/9_of_clubs.png" alt="Card 9">
						<img id="Spieler5-Card10" src="images/card/10_of_clubs.png" alt="Card 10">
						<img id="Spieler5-Card11" src="images/card/king_of_clubs.png" alt="Card 11">
					</div>
				</div>
				<div id="Spieler5" class="rectangle">
					<div class="labelcontainer">
						<h4 id="Spieler5-name" class="name m-auto invisible">...</h4>
						<h5 id="totalAmountPlayer5" class="invisible">...</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3 mt-4">
			<div class="spieler" id="Spieler4-container">
				<div class="cardcontainer" id="player4_cards">
					<div class="image-row">
						<img id="Spieler4-Card1" src="images/card/ace_of_clubs.png" alt="Card 1" >
						<img id="Spieler4-Card2" src="images/card/2_of_clubs.png" alt="Card 2">
						<img id="Spieler4-Card3" src="images/card/3_of_clubs.png" alt="Card 3">
						<img id="Spieler4-Card4" src="images/card/4_of_clubs.png" alt="Card 4">
						<img id="Spieler4-Card5" src="images/card/5_of_clubs.png" alt="Card 5">
						<img id="Spieler4-Card6" src="images/card/6_of_clubs.png" alt="Card 6">
						<img id="Spieler4-Card7" src="images/card/7_of_clubs.png" alt="Card 7">
						<img id="Spieler4-Card8" src="images/card/8_of_clubs.png" alt="Card 8">
						<img id="Spieler4-Card9" src="images/card/9_of_clubs.png" alt="Card 9">
						<img id="Spieler4-Card10" src="images/card/10_of_clubs.png" alt="Card 10">
						<img id="Spieler4-Card11" src="images/card/king_of_clubs.png" alt="Card 11">
					</div>
				</div>
				<div id="Spieler4"  class="rectangle">
					<div class="labelcontainer">
						<h4 id="Spieler4-name" class="name m-auto invisible">...</h4>
						<h5 id="totalAmountPlayer4" class="invisible">...</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div id ="Spieler3-container" class="spieler">
				<div class="cardcontainer" id="player3_cards">
					<div class="image-row">
						<img id="Spieler3-Card1" src="images/card/ace_of_clubs.png" alt="Card 1">
						<img id="Spieler3-Card2" src="images/card/2_of_clubs.png" alt="Card 2">
						<img id="Spieler3-Card3" src="images/card/3_of_clubs.png" alt="Card 3">
						<img id="Spieler3-Card4" src="images/card/4_of_clubs.png" alt="Card 4">
						<img id="Spieler3-Card5" src="images/card/5_of_clubs.png" alt="Card 5">
						<img id="Spieler3-Card6" src="images/card/6_of_clubs.png" alt="Card 6">
						<img id="Spieler3-Card7" src="images/card/7_of_clubs.png" alt="Card 7">
						<img id="Spieler3-Card8" src="images/card/8_of_clubs.png" alt="Card 8">
						<img id="Spieler3-Card9" src="images/card/9_of_clubs.png" alt="Card 9">
						<img id="Spieler3-Card10" src="images/card/10_of_clubs.png" alt="Card 10">
						<img id="Spieler3-Card11" src="images/card/king_of_clubs.png" alt="Card 11">
					</div>
				</div>

				<div id="Spieler3" class="rectangle">
					<div class="labelcontainer">
						<h4 id="Spieler3-name" class="name m-auto invisible">...</h4>
						<h5 id="totalAmountPlayer3" class="invisible">...</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="col-1"></div>
	</div>
	<div class="pokerchips" id="chipsDiv">
		<button type="button" id="btnResetBet" class="resetbutton" onclick="resetBet()">
			<div class="row">
				<div class="col-md-auto">
					<i class="fas fa-undo startbtnIcon"></i>
				</div>
				<div class="col starttext">
					RESET
				</div>
			</div>
		</button>
		<img src="/images/pokerchips/Pokerchip1.png" onclick="clickChip(1)" />
		<img src="/images/pokerchips/Pokerchip5.png" onclick="clickChip(5)" />
		<img src="/images/pokerchips/Pokerchip10.png" onclick="clickChip(10)" />
		<img src="/images/pokerchips/Pokerchip20.png" onclick="clickChip(20)" />
		<img src="/images/pokerchips/Pokerchip25.png" onclick="clickChip(25)" />
		<img src="/images/pokerchips/Pokerchip50.png" onclick="clickChip(50)" />
		<img src="/images/pokerchips/Pokerchip100.png" onclick="clickChip(100)" />
		<img src="/images/pokerchips/Pokerchip500.png" onclick="clickChip(500)" />
	</div>
	<div id="turnbuttons" class="buttons">
		<button id="hitButton" type="button" class="hitbtn">HIT</button>
		<button id="standButton" type="button" class="standbtn">STAND</button>
	</div>
	<div id="startbuttons" class="buttons">
		<button id="startButton" type="button" class="startbtn">
			<div class="row">
				<div class="col-md-auto">
					<i class="fa-regular fa-circle-play startbtnIcon"></i>
				</div>
				<div class="col starttext">
					START
				</div>
			</div>
		</button>
	</div>
	<div class="winnerScreen" id="resultScreen">
		<a href="#" class="close" id="closeWinnerScreen" onclick="closeWinnerScreen()"></a>
		<h1 class="resultHeadline" id="resultHeadline"></h1>
		<h2 class="resultAmount" id="resultAmount"></h2>
	</div>

	<button class="menuBtn" onclick="openSlidePopup()" id="menuBtn">
		<img src="/images/icons/menu-2.png" class="menuicons"/>
	</button>
	<div class="slidePopup" id="visible-block">
        <div class="overlay"></div>
        <div class="settings" id="visible">
            <button id="resumeBtn" class="resumeBtn" onclick="resume()">
				<img src="/images/icons/player-play-filled.png" class="menuicons"/>
			</button> <br />
            <button id="ruleBtn" class="ruleBtn" onclick="openRulePopup()">
				<img src="/images/icons/info-square.png" class="menuicons" />
            </button> <br />
            <button class="exitPromptBtn" id="exitPromptBtn">
				<img src="/images/icons/logout.png" class="menuicons" />
            </button> <br />
			<button class="refreshBtn" id="refreshBtn">
				<img src="/images/icons/refreshBtn.png" class="menuicons" />
			</button>
        </div>
    </div>

    <div class="rulePopup">
        <button id="close" onclick="closeMenu()">&times;</button>
        <h2>Black Jack Regeln:</h2>
        <p>
            Black Jack ist ein Kartenspiel mit 6 Paketen zu 52 Blatt französischer Spielkarten.
            Ziel des Spiels ist es, näher an 21 Punkte heranzukommen als der Croupier, ohne dabei den Wert von 21 zu überschreiten (bust).
            <br /> <br />
            Karten zählen dabei ihren Augenwert, Bildkarten (Bube, Dame und König) zählen 10 Punkte und das Ass zählt 1 oder 11 Punkte je nachdem wie es für den Spieler am günstigsten ist.
            Als "Black Jack" wird eine Kombination aus einem Ass und einer Karte mit der Wertigkeit 10 bezeichnet. Ein "Black Jack" kann nur mit den ersten beiden Karten des Spielzuges erreicht werden.
            <br /> <br />
            Vor Beginn des Spiels platzieren die Spieler ihre Einsätze. Jeder Spieler erhält nun zwei Karten. Der Croupier erhält ebenfalls zwei Karten, von denen die zweite verdeckt liegt.
            Es beginnt der Spieler links des Croupiers. Der Spieler hat die Optionen "Hit" und "Stand". Wählt er "Stand" so ist sein Zug vorbei und er bleibt bei seinem aktuellen Karten.
            Wählt er "Hit" erhält er eine weitere Karte. Der Spieler kann weitere Karten verlangen, bis er "Stand" wählt oder die 21-Punkte-Marke überschreitet.
            In diesem Falle verliert der Spieler seine Hand.
            <br /> <br />
            Nachdem alle Spieler ihre Hände gespielt haben, deckt der Croupier seine zweite Karte auf und zieht nun so lange Karten,
            bis er entweder mehr als 16 Punkte hat oder die 21-Punkte-Marke überschritten ist.
            Für den Croupier zählt ein Ass immer als 11 Augen, es sei denn, er würde damit die 21-Punkte-Marke überschreiten.
            <br /> <br />
            Im Anschluss an den Croupier werden die Gewinne ausgezahlt: <br />
            -Ein "Black Jack" gewinnt 3:2 (Ausnahme: Der Croupier hat ebenfalls einen "Black Jack", dann erhält der Spieler nur seinen Einsatz zurück) <br />
            -Ein Spieler mit mehr Punkten als der Croupier gewinnt 1:1 <br />
            -Bei Gleichstand mit dem Croupier erhält ein Spieler seinen Einsatz zurück. <br />
            -Bei einem "bust" des Croupiers gewinnt jeder noch verbleibende Spieler anhand der oberen Gewinnausschüttung. <br />
        </p>
    </div>
	


<div class="angabeKartenwert">
    <!-- Player 1 Slot -->
    <div id="playerSlot1" class="player-slot">
        <div id="sumPlayer1" class="card-sum"></div>
        <div id="addedAmountPlayer1" class="added-amount"></div>
    </div>

    <!-- Player 2 Slot -->
    <div id="playerSlot2" class="player-slot">
        <div id="sumPlayer2" class="card-sum"></div>
        <div id="addedAmountPlayer2" class="added-amount"></div>
    </div>

    <!-- Player 3 Slot -->
    <div id="playerSlot3" class="player-slot">
        <div id="sumPlayer3" class="card-sum"></div>
        <div id="addedAmountPlayer3" class="added-amount"></div>
    </div>
	
	<!-- Benutzer Slot -->
		<div id="playerSlot4" class="player-slot">
        <div id="sumPlayer4" class="card-sum"></div>
        <div id="addedAmountPlayer4" class="added-amount"></div>
    </div>

    <!-- Player 5 Slot -->
    <div id="playerSlot5" class="player-slot">
        <div id="sumPlayer5" class="card-sum"></div>
        <div id="addedAmountPlayer5" class="added-amount"></div>
    </div>

    <!-- Player 6 Slot -->
    <div id="playerSlot6" class="player-slot">
        <div id="sumPlayer6" class="card-sum"></div>
        <div id="addedAmountPlayer6" class="added-amount"></div>
    </div>

    <!-- Player 7 Slot -->
    <div id="playerSlot7" class="player-slot">
        <div id="sumPlayer7" class="card-sum"></div>
        <div id="addedAmountPlayer7" class="added-amount"></div>
    </div>

    <!-- Dealer Slot -->
    <div id="dealerSlot" class="dealer-slot">
        <div id="sumDealer" class="card-sum"></div>
        <div id="addedAmountDealer" class="added-amount"></div>
    </div>
</div>



<script src="/js/game.js"></script>

