@page
@model IndexModel

@{
    ViewData["Title"] = "BlackJack";
    Layout = "_Layout";
}



<h1 class="headerStartseite">
    <video autoplay muted loop id="myVideo">
    <source src="images/Playing Cards Falling - HD Video Background Loop.webm" type="video/webm">
    </video>
</h1>

<div class="content">
        <h2><img id="Logo" src="/images/LuigisBlackjackOhneBackground.png" alt="Flowers in Chania"style="display:flex"value=""></h2>
    <button id="Registrieren" style="display:flex" value="registrationButton" onclick="location.href = 'Register';">Registrieren</button>
    <button id="Anmelden" style="display:flex" value="loginButton" onclick="location.href = 'Login';">Anmelden</button>

    <p></p>
</div>



<script>
    alert(getQueryVariable("info"));

    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
    }
</script>

