@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="myDiv" runat="server">
        Some text
    </div>
    <p>Learn about <a href="Game">building Web apps with ASP.NET Core</a>.</p>
    <button id="meinButton">Button</button>
    
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>