@page
@model IndexModel

@{
    ViewData["Title"] = "BlackJack";
    Layout = "_Layout";
}



<h1 class="headerStartseite"><img class="titleImage" src="/images/LuigisBlackjackOhneBackground.png"></h1>

<div class="buttonsStartseite">
    <button type="button" class="btn btn-success btn-primary btn-lg">Login</button>
    <br>
    <button type="button" class="btn btn-info btn-lg">Registrieren</button>
</div>

