@page
@model IndexModel

@{
    ViewData["Title"] = "BlackJack";
    Layout = "_Layout";
}



<h1 class="headerStartseite">
    <video autoplay muted loop id="myVideo">
    <source src="images/Playing Cards Falling - HD Video Background Loop.webm" type="video/webm">
    </video>
</h1>





<div class="content">
        <h2><img id="Logo" src="/images/LuigisBlackjackOhneBackground.png" alt="Flowers in Chania"style="display:flex"></h2>
        <button id="Registrieren" style="display:flex"value="registrationButton">Registrieren</button>
        <button id="Anmelden" style="display:flex"value="loginButton">Anmelden</button>

    <p></p>
</div>


