@page
@model BlackJack.Pages.LoginModel
@{
	ViewData["Title"] = "21 - Login";
}
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/css/Register.css">
</head>
<body>
	<form id="msform" method="post">
		<fieldset>
			<h2 class="fs-title">Login!</h2>
			<h3 class="fs-subtitle"></h3>
			<input asp-for="Username" type="text" id="Username" placeholder="Username" />
			<input asp-for="Password" type="password" id="pass" placeholder="Password" />
			<input type="submit" id="next" onclick="location.href = 'Uebersicht';" />
			<a href="Register">No account yet? Register.</a>
		</fieldset>
	</form>
</body>
</html>