@page
@model BlackJack.Pages.LoginModel
@{
	ViewData["Title"] = "21 - Login";
}
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/css/Register.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />
		<style>
		body {
			font-family: montserrat, arial, verdana;
			/* Replace "/path/to/your/background-image.jpg" with the actual URL of your background image */
			background-image: url('/Images/GameLobbyBackground.png');
			/* Add other background properties like size, position, and repeat if needed */
		}
	</style>
</head>
<body>
	<form id="msform" method="post">
		<fieldset>
			<h2 class="fs-title">Login</h2>
			<div class="inputDiv">
				<span class="userIcon"></span>
				<input asp-for="Username" type="text" id="Username" placeholder="Username" />
			</div>
			<div class="inputDiv">
				<span class="passwordIcon"></span>
				<input asp-for="Password" type="password" id="pass" placeholder="Password" />
			</div>
			<span asp-validation-for="Password" class="text-danger"></span>
			<input class="submit_btn" value="LOGIN" type="submit" id="next" />
			<br />
			<a>No account yet? </a> <a href="Register">Register.</a>
		</fieldset>
	</form>
</body>
</html>