@page
@model BlackJack.Pages.Index1Model
@{
    ViewData["Title"] = "BlackJack";
    Layout = "_LayoutOverview";
}
<head>
    <meta charset="utf-8" />
    <title>Spiel starten / beitreten</title>
</head>
<body>
    <div class="displayContainer">
        <h1 class="dispayUsername">Benutzer</h1>
        <h1 class="displayMoney">0.00€</h1>
    </div>
    <div class="divFenster">
        <div class="divBox">
            <h1 style="color: white;">Spiel starten</h1>
            <form style="padding: 10px"method="post">
                <input action="" type="text"  name="code" placeholder="Enter Code" style="color: black;"><br><br>
                <input type="submit" id="GameID" style="color: black;" placeholder="Spiel Erstellen">
                <input type="submit" id="code" style="color: black;" placeholder="Spiel Beitreten">
            </form>
        </div>
    </div>
</body>