@page
@model BlackJack.Pages.Index1Model
@{
    ViewData["Title"] = "BlackJack";
    Layout = "_LayoutOverview";
}
<head>
    <meta charset="utf-8" />
    <title>Spiel starten / beitreten</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />
</head>
<body>

    <div>

    </div>

    <div class="displayContainer">
        <div class="overview_user">
            <div class="row">
                <div class="col-md-auto">
                    <i class="fa-solid fa-user userIcon"></i>
                </div>
                <div class="col">
                    <h1 class="dispayUsername" id="username"></h1>
                </div>
                <button id="logout">
                    <div class="row">
                        <div class="col-md-auto">
                            <i class="fa-solid fa-arrow-right-from-bracket moneybtnIcon"></i>
                        </div>
                        <div class="col">
                            LOGOUT
                        </div>
                    </div>
                </button>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <i class="fa-solid fa-piggy-bank moneyIcon"></i>
                </div>
                <div class="col">
                    <h1 class="displayMoney" id="money"></h1>
                </div>
            </div>
        </div>

        

    </div>
    <div class="divFenster">
        <div class="divBox">
            <h1 style="color: white; text-decoration-line: underline;">Spiel starten</h1>
            <form id="msform" style="padding: 10px" method="post">
                <div class="code-container">
                    <h4 style="color: white; margin-right: 10px;">Code:</h4>
                    <input asp-for="code1" type="code" action="" type="text" name="code1" class="code" maxlength='1' style="color: black;">
                    <input asp-for="code2" type="code" action="" type="text" name="code2" class="code" maxlength='1' style="color: black;">
                    <input asp-for="code3" type="code" action="" type="text" name="code3" class="code" maxlength='1' style="color: black;">
                    <input asp-for="code4" type="code" action="" type="text" name="code4" class="code" maxlength='1' style="color: black;">
                </div>
                <span asp-validation-for="code1" class="text-danger"></span><br>

                <button type="submit" id="spielbeitreten" placeholder="Spiel starten">
                    <div class="row">
                        <div class="col-md-auto">
                            <i class="fa-regular fa-circle-play joinbtnIcon"></i>
                        </div>
                        <div class="col">
                            Join
                        </div>
                    </div>
                </button>

                <button type="submit" id="spielerstellen" placeholder="Spiel starten" value="Spiel erstellen">
                    <div class="row">
                        <div class="col-md-auto">
                            <i class="fa-regular fa-circle-plus joinbtnIcon"></i>
                        </div>
                        <div class="col">
                            New
                        </div>
                    </div>
                </button>


            </form>

            <button id="deposit" onclick="location.href = 'deposit'">
                <div class="row">
                    <div class="col-md-auto">
                        <i class="fa-solid fa-piggy-bank moneybtnIcon"></i>
                    </div>
                    <div class="col">
                        Einzahlen
                    </div>
                </div>
            </button>
        </div>
    </div>

    <script src="/js/overview.js?v=1"></script>
</body>