@page
@model BlackJack.Pages.Index1Model
@{
    ViewData["Title"] = "BlackJack";
    Layout = "_LayoutOverview";
}
<head>
    <meta charset="utf-8" />
    <title>Spiel starten / beitreten</title>
</head>
<body>
    <div class="displayContainer">
        <h1 class="dispayUsername">Benutzer</h1>
        <h1 class="displayMoney">0.00€</h1>
        <button id="deposit" onclick="location.href = 'deposit'" style="    
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	position: relative;
    font-size: 16px;
	margin: 0 10%;
    cursor: pointer;
	margin-right: 200px"
	></button>
    </div>
    <div class="divFenster">
        <div class="divBox">
            <h1 style="color: white;">Spiel starten</h1>
            <form style="padding: 10px"method="post">
                <input action="" type="text"  name="code" placeholder="Enter Code" style="color: black;"><br><br>
                <input type="submit" id="spielbeitreten" style="color: black;" placeholder="Spiel starten" value="Spiel erstellen">
            </form>
        </div>
    </div>
</body>