@page
@model BlackJack.Pages.Index1Model
@{
}
<head>
    <meta charset="utf-8" />
    <title>Spiel starten / beitreten</title>
</head>
<body>
    <div class="displayContainer">
        <h1 class="dispayUsername">Benutzer</h1>
        <h1 class="displayMoney">0.00€</h1>
    </div>
    <div class="divFenster">
        <h1 class="spielStarten">Spiel starten</h1>
        <form action="">
            <input type="text" id="code" name="code" placeholder="Enter Code"><br><br>
            <input type="submit" value="Spiel erstellen">
        </form>
    </div>
</body>