@page
@using Microsoft.JSInterop;
@inject IJSRuntime JS
@model BlackJack.Pages.RegisterModel
@{
	ViewData["Title"] = "21 - Register";
}
<script>
	function test(){
		console.log("test");
	}
</script>
	<head>
	<link rel="stylesheet" href="~/css/Register.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"/>
	<script src="/js/site.js"></script>
	<style>
		body {
			font-family: montserrat, arial, verdana;
			/* Replace "/path/to/your/background-image.jpg" with the actual URL of your background image */
			background-image: url('/Images/GameLobbyBackground.png');
			/* Add other background properties like size, position, and repeat if needed */
		}
	</style>
	</head>
		
<form id="msform" method="post">
	<fieldset>
		<h2 class="fs-title">Register</h2>
		<div class="inputDiv">
			<span class="userIcon"></span>
			<input asp-for="Username" type="text" id="Username" placeholder="Username" />
		</div>
		<span asp-validation-for="Username" class="text-danger"></span>
		<div class="inputDiv">
			<span class="passwordIcon"></span>
			<input asp-for="Password" type="password" id="pass" placeholder="Password" />
		</div>
		<span asp-validation-for="Password" class="text-danger"></span>
		<div class="inputDiv">
			<span class="passwordIcon"></span>
			<input asp-for="Cpass" type="password" id="cpass" placeholder="Confirm Password" />
		</div>
		<span asp-validation-for="Cpass" class="text-danger"></span>
		<div class="inputDiv">
			<span class="dateIcon"></span>
			<input asp-for="Birth" type="date" id="birthdate" value="1900-01-01"/>
		</div>
		<span asp-validation-for="Birth" class="text-danger"></span>
		<input type="submit" id="next" class="submit_btn" value="SIGN UP" onclick="location.href = 'Login';" />
		<br/>
		<a>Already have an account? </a> <a href="Login">Login.</a>
	</fieldset>
</form>
@section scripts{
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
